" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Git
map <leader>gl <Action>(Vcs.Show.Log)
map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gc <Action>(Vcs.Show.Local.Changes)
map <leader>gu <Action>(Vcs.UpdateProject)

" format (current line, all, optimiye imports)
map <leader>fl V<Action>(ReformatCode)
map <leader>fc <Action>(ReformatCode)
map <leader>fi <Action>(OptimizeImports)

" Find
map <leader>fa <Action>(GotoAction)
map <leader>ff <Action>(SearchEverywhere)
map <leader>fr <Action>(RecentFiles)
map <leader>ft <Action>(FindInPath)

" (Move between methods)
map mu <Action>(MethodUp)
map md <Action>(MethodDown)

" (Code collapse)
map <leader>cc <Action>(CollapseRegion)
map <leader>ce <Action>(ExpandRegion)
map <leader>ca <Action>(CollapseAllRegions)
map <leader>cE <Action>(ExpandAllRegions)

" (Comment)
map <leader>cl <Action>(CommentByLineComment)

" Join Lines
map <leader>j <Action>(EditorJoinLines)

" View mode
map <leader>vf <Action>(ToggleFullScreen)
map <leader>vv <Action>(ToggleDistractionFreeMode)
map <leader>vp <Action>(TogglePresentationMode)
map <leader>vm <Action>(HideAllWindows)
map <leader>vz <Action>(ChangeIdeScale)

" Forward/Back
map <C-i> <Action>(Back)
map <C-o> <Action>(Forward)

" (Tab switch)
map <S-Tab> <Action>(PreviousTab)
map <Tab> <Action>(NextTab)

" (Close current/all/others/unpinned tabs)
map <leader>tc <Action>(CloseContent)
map <leader>ta <Action>(CloseAllEditors)
map <leader>to <Action>(CloseAllEditorsButActive)

" refactor
map <leader>rf <Action>(RefactoringMenu)
map <leader>re <Action>(RenameElement)

" Run & Debug
map <leader>rc <Action>(ChooseRunConfiguration)
map <leader>rr <Action>(Rerun)
map <leader>rd <Action>(ChooseDebugConfiguration)

" Run test
map <leader>td <Action>(ContextDebug)
map <leader>tr <Action>(ContextRun)

" (Terminal)
" (ActivateTerminal with project root dir)
map <leader>xo <Action>(ActivateTerminalToolWindow)

" (Pane vertically split/horizontally split/close)
map <leader>sv <Action>(SplitVertically)
map <leader>sh <Action>(SplitHorizontally)
map <leader>su <Action>(Unsplit)

" Move line up/down option + k/j
map <M-k> <Action>(MoveLineUp)
map <M-j> <Action>(MoveLineDown)

" Goto
map gs <Action>(GotoSuperMethod)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gt <Action>(GotoTest)
map ge <Action>(GotoNextError)
map gE <Action>(GotoPreviousError)

" New ...
map <leader>nf <Action>(NewElement)
map <leader>nd <Action>(NewDir)
map <leader>np <Action>(NewProject)
map <leader>nm <Action>(NewModule)

" (Close all notifications)
map <leader>nc <Action>(CloseAllNotifications)

" Build
map <leader>b <Action>(BuildMenu)

" Inline / extract
map <leader>il <Action>(Inline)
map <leader>ev <Action>(IntroduceVariable)
map <leader>em <Action>(ExtractFunction)

" Do something
map <leader>di <Action>(ShowIntentionActions)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dg <Action>(Gradle.ExecuteTask)

" Show something
map <leader>ss <Action>(FileStructurePopup)
map <leader>su <Action>(ShowUsages)
map <leader>sU <Action>(FindUsages)
map <leader>se <Action>(ShowErrorDescription)
map <leader>sd <Action>(QuickJavaDoc)
map <leader>sa <Action>(Annotate)

" (Stop execute)
map <C-c> <Action>(Stop)

" (Project management)
map <leader>pr <Action>(ManageRecentProjects)
map <leader>pl <Action>(RecentProjectListGroup)
map <leader>pc <Action>(CloseProject)

